@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Välkommen till Grupp 31s projekt!</p>
    
<p>Vår grupp består utav tre stycken utvecklare vid namnen Adham Jemal Mohamed, Halil Turan & Hani Mohamed Nour Adem</p>

